@using cloudscribe.Web.Navigation
@using System.Text
@model NavigationViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<SiteUser> SignInManager
@inject IStringLocalizer<CloudscribeCore> sr
@if (Model.HasVisibleChildren(Model.CurrentNode))
{
    <nav>
        <ul class="childtree list-unstyled">
            @*@if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">@sr["Log off"]</a>
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
                </li>
            }*@

            @foreach (var node in Model.StartingNode.Children)
            {
                if (!Model.ShouldAllowView(node)) { continue; }
                if (!Model.HasVisibleChildren(node))
                {
                    <li class='nav-item'><a class='nav-link' href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)</a></li>
                }
                else
                {
                    <li class='nav-item'>
                        <a class="nav-link" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)</a>
                        @Model.UpdateTempNode(node) <partial name="Bs4NavigationNodeChildTreePartial" model="@Model" />
                    </li>
                }
            }
        </ul>
    </nav>
}
